body {
   /* background-image: url('https://images.pexels.com/photos/6219/flowers-purple-autumn-fall.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'); */
      background-image: url('https://images.unsplash.com/photo-1523380360198-653413ad178b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c372a7d0803a21151f9e22db6fea2b77&auto=format&fit=crop&w=634&q=80');
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Encode Sans Condensed', sans-serif;
}

a {
    text-decoration: none;
    color: #be3737;
}

a:hover {
    color: #933f99;
}

.contactForm {
    display: flex;
    background: #573697;;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
    box-shadow: 1px 1px 2px #521262;
    justify-content: space-around;
    transition: all 0.2s ease-in-out;
}

.contactForm:hover {
    background-color: #6a42b9;
}

input {
    border: 1px dotted #f1fff1;
    outline: none;
    padding: 5px;
    width: 25%;
    margin: 2px;
    background: inherit;
}

input:focus {
    border: 1px solid #f1fff1;
}

input::placeholder {
    color: #d6e6f2;
    font-size: 12px;
}

button {
    background-color: #17d117;
    border: none;
    font-size: 13px;
    padding: 2px;
    outline: none;
}

button:hover {
    background-color: #d6e6f2;
    color: #472c7c;
}

.contactsList{
    width: 300px;
    margin: 0 auto;
    padding: 0;
}

.contactItem {
    margin: 10px 0;
    padding: 10px; 
    background-color: #ebebeb;;
    color: #573697;
    border-left: 30px solid #573697;
    box-shadow: 1px 3px 5px #573697;
    transition: all 0.2s ease-in-out;
}

.contactItem:hover {
    background-color: #ffffff;
    border-left: 30px solid #6a42b9;
}

.contactLabel {
    font-weight: bold;
}

.contactEmail {
    font-size: 13px;
}

img {
    float: right;
}
